[Unit]
Description="Pymedia"
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/kiosk-user/pymedia
ExecStart=/home/kiosk-user/pymedia/start.sh /etc/pymedia/%i.conf
User=kiosk-user
Restart=always
After=network-online.target
Wants=network-online.target

[Install]
WantedBy=multi-user.target