[Unit]
Description="Pymedia"
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/kiosk-user/pymedia
ExecStart=/home/kiosk-user/pymedia/start.sh %i.conf
Restart=always

[Install]
WantedBy=default.target
